.nav {
  background-color: white;
  /* background-color: #49bc6c; */
}
.container-fluid img {
  width: 40px;
}
.navbar-toggler {
}
.navbar-toggler-icon {
}

.navbar-toggler {
  padding: 0px 5px 0px 5px;
}
